*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar-image img{
  width: 310px;
  border-style: none;
}
#padding-nav{
  padding-left: 10%;
}
#btn-last{
  margin-left: 40%;
  border-radius: 20px;
}
#yellow:hover{
  border-bottom: 2px solid yellow;
}
#video-1{
  width: 100%;
}
.ditto{
  font-family: "GFS Didot", sans-serif;
  font-weight: 800;
  font-size: 32px;
  Color:#000000;
  line-height: 53px;
}
.ditto {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align-last: center;
}
#btn-2{
  border-radius: 20px;
  padding: 16px 12px;
  width: 150px;
  border-radius: 40px;
  color: white;
}
#button{
  border-radius: 30px;
  width: 15%;
}
.ditto-1 {
  font-family: "Times New Roman", sans-serif;;
  font-weight: 200;
  font-size: 34px;
  line-height: 40px;
  text-align-last: center;
}
#paragh{
  font-size: 23px;
  line-height: 40px;
  text-align-last: center;
}
#card-body{
  background-color: #EDCA8A;
}
#btn-1{
  border-radius: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#card-body-1{
  background-color: #F7E8C7;
}
#card-body-2{
  background-color: #EAEAEA;
}
#card-body-3{
  background-color: #F4F4F4;
}
.card img:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.digity {
  font-family: "Times New Roman", sans-serif;;
  font-weight: 700;
  font-size: 32px;
  line-height: 6;
  text-align: center;
}
#part{
  font-size: 23px;
  line-height:30px;
  text-align-last: center;
}
